//Variables
$fontPrimaty: "Cinzel"; 
$fontAlternative: 'Times New Roman';

//maps
$colors: (
    "primary": #3d010c,
    "secundary": #140004,
    "nav": #1f1f1f,
    "sure": #ffffff,
    "halfWhite": #f2f2f2,        
);

