body .main__contact {
    height: 100%;
    background: #f2f2f2;
    padding-top: 30%;
    text-align: center;
    font-size: 25px;
    color: #3d010c;
}

body .main__contact h2 {
    font-family: "Cinzel", serif;
    font-size: 33px;
    text-decoration: underline;
    padding-bottom: 11px;
}

@media (min-width: 992px) {
    body .main__contact {
        padding-top: 4%;
    }
    body .main__contact h2 {
        font-size: 40px;
    }
    body .main__contact ul {
        width: 100vw;
        margin-top: 6%;
    }
}
