.main__about {
    padding-top: 25%;
    height: 100%;
    background: #f2f2f2;
}
.main__about img {
    width: 100vw;
}
.main__about h2 {
    text-align: center;
    font-family: "Cinzel", serif;
    font-size: 33px;
    color: #3d010c;
    line-height: 50px;
}

.main__about h3 {
    text-align: center;
    font-family: "Cinzel", serif;
    font-size: 25px;
    color: #3d010c;
    line-height: 50px;
}

.main__about p {
    font-family: "Cinzel", serif;
    font-size: 18px;
    line-height: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
}

@media (min-width: 992px) {
    .main__about {
        padding-top: 3%;
    }
    .main__about img {
        width: 100vw;
    }
    .main__about h2 {
        font-size: 30px;
        line-height: 60px;
    }
    .main__about h3 {
        line-height: 60px;
        padding-bottom: 10px;
    }
    .main__about p {
        text-align: center;
    }
}
