.main__product {
    margin-top: 18%;
    background: #f2f2f2;
    text-align: center;
    h2 {
        color: #3d010c;
        font-size: 40px;
        font-family: $fontPrimaty, $fontAlternative, serif;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    h3 {
        color: #3d010c;
        font-size: 25px;
        font-family: $fontPrimaty, $fontAlternative, serif;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    p {
        font-family: $fontPrimaty, $fontAlternative, serif;
        font-size: 20px;
    }
    .product {
        text-align: center;
        padding-top: 5px;
        img {
            width: 35%;
        }
        p {
            font-size: 20px;
            padding-bottom: 15px;
            margin: 1% 18%;
        }
        ul {
            margin: auto;
            list-style: none;
            li a {
                color: black;
                text-decoration: none;
                padding: 2px 2px;
                border: 1.5px solid #140104;
                border-radius: 5px;
            }
        }
    }
}


@media (min-width: 992px) {
    .main__product {
        margin-top: 3%;
        height: 100%;
        h2 {
            padding-bottom: 10px;
            padding-top: 15px;
        }
        h3 {
            padding-top: 10px;
        }
        .product {
            padding-top: 5px;
            img {
                width: 15%;
            }
            p {
                padding-bottom: 15px;
                margin: 1% 18%;
            }
            ul li a {
                transition: 0.6s ease;
                color: black;
                text-decoration: none;
                padding: 2px 2px;
                border: 1.5px solid #140104;
                border-radius: 5px;
                &:hover {
                    background-color: #140104;
                    color: #ffffff;
                    opacity: 1;
                }
            }
        }
    }
}
