.main__product {
    margin-top: 19%;
    background: map-get($colors , halfWhite );
    text-align: center;
    .banner__productos{
        overflow: hidden;
        position: relative;                
        img{
            width: 100%;
        }
        p{
            font-family: $fontPrimaty, $fontAlternative, serif;
            font-size: 18px;
            position: absolute;
            color: map-get($colors , sure );
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        }
    }
    h2 {
        color: map-get($colors , primary );
        font-size: 40px;
        font-family: $fontPrimaty, $fontAlternative, serif;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    h3 {
        color: map-get($colors , primary );
        font-size: 25px;
        font-family: $fontPrimaty, $fontAlternative, serif;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    p {
        font-family: $fontPrimaty, $fontAlternative, serif;
        font-size: 20px;
    }
    .product {
        text-align: center;
        padding-top: 5px;
        img {
            width: 50%;
            box-shadow: 2px 2px 8px map-get($colors , secundary );
        }
        p {
            font-size: 20px;
            padding-bottom: 15px;
            margin: 1% 18%;
        }
        a {                
            color: map-get($colors , nav );
            text-decoration: none;
            font-family: $fontPrimaty, $fontAlternative, serif;
            &:hover{
                color:map-get($colors , sure );
            }
        }
    }
}

@media (min-width: 992px) {
    .main__product {
        margin-top: 3%;
        height: 100%;
        .banner__productos{
            p{
                font-size: 4rem;
                top: 70%;
                left: 50%;
            }
        }
        h2 {
            padding-bottom: 10px;
            padding-top: 15px;
        }
        h3 {
            padding-top: 10px;
        }
        .container__producto{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .product {
            width: 50%;
            padding-top: 5px;
            img {
                width: 25%;
            }
            p {
                padding-bottom: 15px;
                margin: 1% 18%;
            }
            a {                
                color: map-get($colors , nav );
                &:hover{
                    color:map-get($colors , sure );
                }
            }
        }
    }
}
