.main__product {
    margin-top: 18%;
    background: map-get($colors , $key: halfWhite );
    text-align: center;
    h2 {
        color: map-get($colors , primary );
        font-size: 40px;
        font-family: $fontPrimaty, $fontAlternative, serif;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    h3 {
        color: map-get($colors , primary );
        font-size: 25px;
        font-family: $fontPrimaty, $fontAlternative, serif;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    p {
        font-family: $fontPrimaty, $fontAlternative, serif;
        font-size: 20px;
    }
    .product {
        text-align: center;
        padding-top: 5px;
        img {
            width: 35%;
        }
        p {
            font-size: 20px;
            padding-bottom: 15px;
            margin: 1% 18%;
        }
        a {                
            color: map-get($colors , nav );
            text-decoration: none;
            font-family: $fontPrimaty, $fontAlternative, serif;
            &:hover{
                color:map-get($colors , sure );
            }
        }
    }
}

@media (min-width: 992px) {
    .main__product {
        margin-top: 3%;
        height: 100%;
        h2 {
            padding-bottom: 10px;
            padding-top: 15px;
        }
        h3 {
            padding-top: 10px;
        }
        .container__producto{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .product {
            width: 50%;
            padding-top: 5px;
            img {
                width: 15%;
            }
            p {
                padding-bottom: 15px;
                margin: 1% 18%;
            }
            a {                
                color: map-get($colors , nav );
                &:hover{
                    color:map-get($colors , sure );
                }
            }
        }
    }
}
