.footer {
    background: map-get($colors , $key: secundary );
    color: map-get($colors , $key: sure );
    font-size: 20px;
}

.footer__paragraph {
    color: map-get($colors , $key: sure );
    padding-left: 5%;
    h3{
        color: map-get($colors , $key: sure );
        font-size: 1.7rem;
        padding-top: 10px;
        font-family: $fontPrimaty, $fontAlternative, serif;
    }
}

.footer__logo {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    .logo__son {
        padding-bottom: 5%;
        width: 35%;
    }
}


@media (min-width: 992px) {
    .footer {
        font-size: 20px;
    }    
    
    .footer__paragraph  {
        color: map-get($colors , $key: sure );
        h3{
            font-size: 1.7rem;
            text-align: center;
        }

    }
    .footer__logo {
        display: grid;
        grid-template-rows: auto;
        .logo__son {
            width: 50%;
            padding-bottom: 10%;
        }
    }

}
