a {
    text-decoration: none;
    color: #f2f2f2;
}

ul,
ol {
    list-style: none;
}

.logoFather {
    list-style: none;
}

.logo {
    width: 40%;
    padding-top: 4px;
}

.main__header {
    z-index: 1;
    background: #1f1f1f;
    font-family: "Cinzel", serif;
    font-size: 20px;
    position: fixed;
    width: 100vw;
    color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main__header nav {
    padding-right: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main__header ul li {
    display: inline-block;
    position: relative;
}
.main__header ul ul {
    display: none;
    position: absolute;
    background-color: #1f1f1f;
    width: 111%;
    height: 86px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 5px 10px 0px;
}

.main__header ul ul li {
    display: block;
}

.main__header ul li:hover ul {
    display: block;
    text-decoration: none;
}

.main__header nav a {
    transition: opacity 0.6s ease;
    opacity: 0.6;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
}

.main__header nav a:hover {
    display: inline-block;
    background: #3d010c;
    color: #f2f2f2;
    opacity: 1;
}

@media (min-width: 992px) {
    .logo {
        width: 15%;
        padding-top: 4px;
    }
    .main__header {
        position: fixed;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .main__header nav {
        padding-right: 20px;
    }
}
